footer {
  padding-block: var(--space-1000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: var(--space-700);
}

.social-link-icons {
  display: flex;
  column-gap: var(--space-350);
  align-items: center;



  a {
    &:is(:focus),
    &:is(:focus-visible) {
      color: var(--clr-green);
      border: 2px solid var(--clr-green);
      outline: none;
    }

    svg {
      path:hover{
        fill: var(--clr-purple-900);
      }
      path:path:focus-visible, path:focus{
        border: 2px solid var(--clr-green);
      }

    }
  }
}
