.value-section {
  padding-block-start: var(--space-1600);
  background-color: var(--clr-purple-100);
  display: flex;
  flex-direction: column;
}

.value-section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--clr-purple-900);

  span {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--clr-purple-500);
    border-radius: 50%;
    width: var(--space-600);
    height: var(--space-600);
    margin-block-end: var(--space-300);

    font-family: var(--font-fraunces);
    font-size: 1.25rem;
  }
  h2 {
    margin: 0;
    margin-block-start: var(--space-200);
  }

  p {
    text-align: center;

    margin-block-end: var(--space-400);
  }
}

.value-section svg {
  width: 100%;
}

@media (min-width: 500px) and (max-width: 767px) {
  .value-section {
    padding-block-start: var(--space-2100);
  }
}

@media (min-width: 768px) {
  .value-section {
    padding-block-start: var(--space-2800);
  }

  .value-section__item {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: start;
    column-gap: var(--space-700);

    span {
      grid-row: 1 / 3;
    }

    p {
      grid-column: 2 / 3;
      text-align: start;
    }
  }
}

@media (min-width: 1160px) {
  .value-section__list {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    column-gap: var(--space-400);
  }
  .value-section__item {
    display: flex;

    p {
      text-align: center;
    }
  }

  .value-section__item.wrapper {
    padding-inline: 0px;
  }
}
